<h1>Edit Project</h1>

<%= form_for @project do |form| %>
  <div class="form-group">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, class: "form-control" %>
  </div>
  <%= form.button 'Update Project', class: "btn btn-success" %>
  <% end %>