<h1>New Project</h1>

<form action="/projects" method="POST">

  <div class="form-group">
    <br>
    <label for="project_name">Project name</label>
    <input type="text" class="form-control" id="project_name" placeholder="Enter your project's name">
  </div>

<div class="form-group">
    <br>
    <label for="description">Project Description</label>
    <input type="text" class="form-control" id="description" placeholder="Provide a brief description of your project">
  </div>

<div class="form-group">
    <br>
    <label for="category_name">Category</label>
    <input type="text" class="form-control" id="category_name" placeholder="Enter the category of your project">
  </div>

 <div class="form-group">
    <br>
    <label for="category_description">Category Description</label>
    <input type="text" class="form-control" id="category_description" placeholder="Provide a brief description of your category">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>
